html,
body {
  padding: 8px;
  margin: 8px;
  background-color: #EDFFFE;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /* background-color: #fff; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  float: right;
}
img, svg {
  vertical-align: middle;
  width: 100px;
  display: flex;
  float: right;
  padding: 8px;
  margin: 8px;
}
btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-top: 20px;
}
label {
  display: inline-block;
  margin-top: 10px;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}
button{
  justify-content: flex-end;
}